<fieldset class="radio-group" aria-describedby="rg-layout-message">
  <legend class="radio-group-legend">Default layout <span class="radio-group-required" aria-hidden="true">*</span><span class="radio-group-required sr-only"> required</span></legend>
  <div class="radio-group-options">
    <label class="radio-group-option">
      <span class="radio-group-control">
        <input class="radio-group-input" type="radio" name="layout" value="split">
        <span class="radio-group-dot" aria-hidden="true"></span>
      </span>
      <span class="radio-group-text">Split horizontally</span>
    </label>
    <label class="radio-group-option">
      <span class="radio-group-control">
        <input class="radio-group-input" type="radio" name="layout" value="stacked">
        <span class="radio-group-dot" aria-hidden="true"></span>
      </span>
      <span class="radio-group-text">Stacked</span>
    </label>
    <label class="radio-group-option">
      <span class="radio-group-control">
        <input class="radio-group-input" type="radio" name="layout" value="tabbed">
        <span class="radio-group-dot" aria-hidden="true"></span>
      </span>
      <span class="radio-group-text">Tabbed</span>
    </label>
  </div>
  <p class="radio-group-message" id="rg-layout-message">✕ Choose a layout.</p>
</fieldset>
<!-- @variant horizontal -->
<fieldset class="radio-group radio-group-horizontal" aria-describedby="rg-density-message">
  <legend class="radio-group-legend">Density <span class="radio-group-required" aria-hidden="true">*</span><span class="radio-group-required sr-only"> required</span></legend>
  <div class="radio-group-options">
    <label class="radio-group-option">
      <span class="radio-group-control">
        <input class="radio-group-input" type="radio" name="density" value="compact">
        <span class="radio-group-dot" aria-hidden="true"></span>
      </span>
      <span class="radio-group-text">Compact</span>
    </label>
    <label class="radio-group-option">
      <span class="radio-group-control">
        <input class="radio-group-input" type="radio" name="density" value="comfortable">
        <span class="radio-group-dot" aria-hidden="true"></span>
      </span>
      <span class="radio-group-text">Comfortable</span>
    </label>
  </div>
  <p class="radio-group-message" id="rg-density-message">✕ Choose a density.</p>
</fieldset>
